#root{
	display: flex;
  justify-content: center;
}

.App {
	background-color: #282c34;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	color: white;
	overflow-y: scroll;
	text-align: center;
}
